#my-toolbar-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.splide {
  width: 50%;
  margin: 0 auto;
  max-height: 70vh;
  top: 15%;
}
.splide__slide {
  display: flex;
  justify-content: center;
}

.splide__slide img {
  max-height: 70vh;
}
.splide__arrow--prev {
  left: -10%;
}

.splide__arrow--next {
  right: -10%;
}
