#toolbar {
  display: flex;
  justify-content: center;
}
.splide {
  width: 50%;
  margin: 0 auto;
  max-height: 70vh;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

img {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 70vh;
}
.arrow {
  display: flex;
  padding: 30px;
  align-items: center;
}
