<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png" />
    <!-- Author Meta -->
    <meta name="author" content="fzS" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>DataMD</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="static/landing_assets/css/linearicons.css" />
    <link
      rel="stylesheet"
      href="static/landing_assets/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="static/landing_assets/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="static/landing_assets/css/magnific-popup.css"
    />
    <link rel="stylesheet" href="static/landing_assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="static/landing_assets/css/hexagons.min.css" />
    <link rel="stylesheet" href="static/landing_assets/css/nice-select.css" />
    <link rel="stylesheet" href="static/landing_assets/css/main.css" />
    <style>
      body,
      h1,
      h2,h3,h4,h5,h6 {
        font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif !important;
      }
    </style>
  </head>

  <body>
    <!--================ Offcanvus Menu Area =================-->
    <div class="side_menu">
      <ul class="list menu-left">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#services">Service</a>
        </li>

        <li>
          <a href="#contact">Contact</a>
        </li>
        <li style="background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        ; padding:6px; border-radius:25px; text-align:center; ">
          <a style="color: white; font-weight:bold" href="/dashboard">Go To Dashboard</a>
        </li>
      </ul>
    </div>

    <!--================ End Offcanvus Menu Area =================-->

    <!--================ Canvus Menu Area =================-->
    <div class="canvus_menu">
      <div class="container d-flex justify-content-between">
        <div class="">
          <div class="toggle_icon" title="Menu Bar">
            <span></span>
          </div>
        </div>
        <div class="">
          <div class="pt-4">
            {% if request.user.is_authenticated %}
            <a style=" background-color: purple;
            color: white; 
            border-radius: 25px;
            padding: 15px;" href="{% url 'logout' %}" class="login generic-btn info">
              <span>Logout</span>
            </a>
            {% else %}
            <a style=" background-color: purple;
            color: white; 
            border-radius: 25px;
            padding: 15px;" href="{% url 'login' %}" class="login genric-btn info">
              <span>Login</span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!--================ End Canvus Menu Area =================-->

    <!--================ start banner Area =================-->
    <section id="home" class="home-banner-area">
      <div class="container">
        <div class="row justify-content-end fullscreen">
          <div
            class="col-lg-6 col-md-12 home-banner-left d-flex fullscreen align-items-center"
          >
            <div>
              <h1 class="">
                Data<span>MD</span> specifically designed <br />
                for <span>Biomedical</span> Professionals
              </h1>
              <p class="mx-auto mb-40">
                An online collaborative tool specialized for use by teams of
                medical professionals to ensure that the process is easy and
                less time-consuming while also preserving the accuracy of the
                data.
              </p>

              <div class="d-flex align-items-center mt-40">
                <a
                  id="play-home-video"
                  class="video-play-button"
                  href="https://www.youtube.com/watch?v=ovqjB_tS5OY"
                >
                  <span></span>
                </a>
                <div class="watch_video">
                  <p>Watch Our Video</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-12 no-padding home-banner-right d-flex fullscreen align-items-end"
          > <img
              class="img-fluid"
              src="static/landing_assets/img/header-img.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!--================ End banner Area =================-->

    <!--================ Start Video Area =================-->
    <section id="about" class="section-gap">
      <div class="container">
        <div
          class="text-center col-lg-12 justify-content-start align-items-center"
        >
          <div class="justify-content-center align-items-center d-flex">
            <div class="overlay overlay-bg"></div>
            <div class="section-title">
              <h1 class="">About <span>Us</span></h1>
           
              <p class="px-5 py-4">
                Medical institutions generate large volumes of biomedical image
                data. This can be used to train supervised models for valuable
                AI-assisted diagnosis in healthcare. However, annotating
                biomedical images is a laborious process that also needs input
                from professionals. With DataMD users can smoothly complete
                annotations with an optimized user interface, and an active
                learning architecture built upon a pre-trained machine learning
                model will use uncertainty and diversity sampling strategies
                alongside annotation predictions to substantially reduce the
                labor.
              </p>
            

              <div class="counter_area" id="project_counter">
                <!-- single counter -->
                <div class="single_counter">
                  <div class="info-content">
                    <h4><span class="counter">500</span>+</h4>
                    <p>Qualified Annotators</p>
                  </div>
                </div>
                <!-- single counter -->
                <div class="single_counter">
                  <div class="info-content">
                    <h4><span class="counter">20,650</span>+</h4>
                    <p>Annotated Images</p>
                  </div>
                </div>
                <!-- single counter -->
                <div class="single_counter">
                  <div class="info-content">
                    <h4><span class="counter">20</span>k+</h4>
                    <p>Ongoing Projects</p>
                  </div>
                </div>
                <!-- single counter -->
                <div class="single_counter">
                  <div class="info-content">
                    <h4><span class="counter">50</span>+</h4>
                    <p>Achievements</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End video Area =================-->

    <!--================ Start Service Area =================-->
    <section id="services" class="service-area section-gap">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12 text-center">
            <div class="section-title">
            
              <h1>
                Our <span>Services</span>
              </h1>
              <p class="py-4">We Are Providing these services</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center ">
          <!-- single-features -->
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-service ">
              <div class="service-icon ">
                <img
                  src="static/landing_assets/img/service/shape1.png"
                  alt=""
                />
                <img
                  class="s-icon"
                  src="static/landing_assets/img/service/icon1.png"
                  alt=""
                />
                <img
                  class="clr-icon"
                  src="static/landing_assets/img/service/clr-icon1.png"
                  alt=""
                />
              </div>
              <div class="service-content">
                <h4>Object Detection</h4>
              </div>
            </div>
          </div>
          <!-- single-features -->
          <div class="col-lg-3  col-sm-6 col-md-6">
            <div class="single-service">
              <div class="service-icon">
                <img
                  src="static/landing_assets/img/service/shape1.png"
                  alt=""
                />
                <img
                  class="s-icon"
                  src="static/landing_assets/img/service/icon2.png"
                  alt=""
                />
                <img
                  class="clr-icon"
                  src="static/landing_assets/img/service/clr-icon2.png"
                  alt=""
                />
              </div>
              <div class="service-content ">
                <h4>Image Classification</h4>
            
              </div>
            </div>
          </div>
          
          <!-- single-features -->
          <div class="col-lg-3  col-sm-6 col-md-6">
            <div class="single-service ">
              <div class="service-icon">
                <img
                  src="static/landing_assets/img/service/shape1.png"
                  alt=""
                />
                <img
                  class="s-icon"
                  src="static/landing_assets/img/service/icon3.png"
                  alt=""
                />
                <img
                  class="clr-icon"
                  src="static/landing_assets/img/service/clr-icon3.png"
                  alt=""
                />
              </div>
              <div class="service-content">
                <h4>ML Automation</h4>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Service Area =================-->

    <!--================ Start Testimonial Area =================-->
    <section class="testimonial-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <div class="section-title">
              <h1>Contact <span>Us</span></h1>
            </div>

            <!--================Contact Area =================-->
            <section id="contact" class="contact_area">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="contact_info">
                      <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Islamabad, Pakistan</h6>
                        <p>Mational University of Sciences & Technology</p>
                      </div>
                      <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">0900-786-01</a></h6>
                        <p>Mon to Fri 9 AM to 6 PM</p>
                      </div>
                      <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">datamd@gmail.com</a></h6>
                        <p>Send us your query anytime!</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <form
                      class="row contact_form"
                      action="contact_process.php"
                      method="post"
                      id="contactForm"
                      novalidate="novalidate"
                    >
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="Enter your name"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Enter email address"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="subject"
                            name="subject"
                            placeholder="Enter Subject"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <textarea
                            class="form-control"
                            name="message"
                            id="message"
                            rows="1"
                            placeholder="Enter Message"
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 text-right">
                        <button
                          type="submit"
                          value="submit"
                          class="primary-btn rounded"
                        >
                          Send Message
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
            <!--================Contact Area =================-->
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center"></div>
        </div>
      </div>
    </section>
    <!--================ End Testimonial Area =================-->

    <!--================ Start CTA Area =================-->
    <section class="cta-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-12">
            <h2>Get to Know Project Estimate?</h2>
            <p>
              There is a moment in the life of any aspiring astronomer that it
              is time to buy that first telescope. It’s exciting to think about
              setting up your own viewing station whether that is on the deck
            </p>
            <a href="#" class="primary-btn">Get Estimate for Free</a>
          </div>
          <img
            src="static/landing_assets/img/cta-bg-shape.png"
            alt=""
            class="cta-shape img-fluid"
          />
        </div>
      </div>
    </section>
    <!--================ End CTA Area =================-->

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row footer-top">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>About DataMD</h6>
              <p>
                The world has become so fast paced that people don’t want to
                stand by reading a page of information, they would much rather
                look.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Navigation Links</h6>
              <div class="row">
                <ul class="col footer-nav">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="services.html">Services</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Newsletter</h6>
              <p>
                For business professionals caught between high OEM price
                mediocre print and graphic.
              </p>
              <div class="" id="mc_embed_signup">
                <form
                  target="_blank"
                  novalidate="true"
                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                  method="get"
                  class="form-inline"
                >
                  <div class="d-flex flex-row">
                    <input
                      class="form-control"
                      name="EMAIL"
                      placeholder="Enter Email"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter Email '"
                      required=""
                      type="email"
                    />

                    <button class="click-btn btn btn-default">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                    <div style="position: absolute; left: -5000px">
                      <input
                        name="b_36c4fd991d266f23781ded980_aefe40901a"
                        tabindex="-1"
                        value=""
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="info"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="footer-bottom d-flex justify-content-between align-items-center flex-wrap"
      >
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-12">
              <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <script src="static/landing_assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script
      src="static/landing_assets/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>
    <script src="static/landing_assets/js/vendor/bootstrap.min.js"></script>
    <script src="static/landing_assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/landing_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="static/landing_assets/js/parallax.min.js"></script>
    <script src="static/landing_assets/js/owl.carousel.min.js"></script>
    <script src="static/landing_assets/js/jquery.nice-select.min.js"></script>
    <script src="static/landing_assets/js/jquery.sticky.js"></script>
    <script src="static/landing_assets/js/hexagons.min.js"></script>
    <script src="static/landing_assets/js/jquery.counterup.min.js"></script>
    <script src="static/landing_assets/js/waypoints.min.js"></script>
    <script src="static/landing_assets/js/main.js"></script>
  </body>
</html>
