{% extends "layouts/base.html" %} {% block title %} Create Project {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
  integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Dashboard</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Projects</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Annotator Progress</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <h3>Annotator Progress</h3>
        <p>See how your annotators are doing and what work is left!</p>
        <hr />
        <!-- [ ROW 1 ] start -->
        {% for project, annotator_data in project_data.items %}
        {% if annotator_data %}
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>{{ project.name }}</h5>
              </div>
              <div class="card-body">
                <canvas id="myChart{{project.id}}" width="200" height="60"></canvas>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %} 
        <!-- [ ROW 1 ] start -->
        <!-- [ Main Content ] end -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
{% for project, annotator_data in project_data.items %} 
  {% if annotator_data %}
  const ctx{{project.id}} = document.getElementById("myChart{{project.id}}").getContext("2d");
  const labels{{project.id}}  = [
    {% for annotator, count_data in annotator_data.items %}
        "{{ annotator.username }}",
    {% endfor %}
  ] // insert list of all annotators who have done images
  const data{{project.id}}  = {
    labels: labels{{project.id}},
    datasets: [
      {
        label: "Annotated",
        data: [
        {% for annotator, count_data in annotator_data.items %}
          {{ count_data.annotated }},
        {% endfor %}
        ], // number each annotated
        backgroundColor: 'rgba(255, 99, 132, 1)',
      },
      {
        label: "Unnannotated",
        data: [
        {% for annotator, count_data in annotator_data.items %}
          {{ count_data.unannotated }},
        {% endfor %}
        ], // number each didn't
        backgroundColor: 'rgba(100, 99, 132, 1)',
      }
    ]
  };

  const myChart{{project.id}}  = new Chart(ctx{{project.id}}, {
    type: "bar",
    data: data{{project.id}},
    options: {
      indexAxis: 'y',
      responsive: true,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true,
        },
      },
    },
  });
  {% endif %}
{% endfor %}

</script>


{% endblock javascripts %}
