{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Dashboard</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}"
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Projects</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Create New Project</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <h3>Create New Project</h3>
        <p>Create new annotation projects and close the data gap!</p>
        <hr />
        <!-- [ ROW 1 ] start -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Basic Details</h5>
              </div>
              <div class="card-body">
                <form method="POST" action="">
                  {% csrf_token %}
                  <h4>Project Details</h4>
                  <hr />
                  <!-- FORM FIELDS RENDER -->
                  {% for field in form %}
                  <p>
                    {% if field.field.required %} <font color="red">*</font> {% endif %} 
                    {{field.label}}: {{field}}
                  </p>
                  {% endfor %}

                  <br />
                  <h4>Annotation Classes</h4>
                  <hr />
                  <button type="button" class="btn btn-success add" title="Add a new field to add another class" data-toggle="tooltip">
                      Add Class
                  </button>
                  <button type="button" class="btn btn-danger remove" title="Remove the last field" data-toggle="tooltip">
                      Remove Class
                  </button>
                  <br />
                   <br />
                   <font color="red">*</font> Class(es):
                    <div id="new_chq">
                      <div class="input-group input-group-sm mb-3" id="new_1">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm1">Class Name #1</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm1" name = "class" maxlength="200" required />
                      </div>
                    </div>

                    <input type="hidden" value="1" name="total" id="total_chq" />
                    <!-- END FORM FIELDS RENDER -->

                    <button type="submit" class="btn btn-outline-primary">
                      Create Project
                    </button>
                    
                  </form>
              </div>
            </div>
          </div>
        </div>
        <!-- [ ROW 1 ] start -->
        <!-- [ Main Content ] end -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  jQuery(".add").on("click", add);
  jQuery(".remove").on("click", remove);

  MAX_CLASSES = 5;

  function add() {
    var new_chq_no = parseInt(jQuery("#total_chq").val()) + 1;
    if (new_chq_no == MAX_CLASSES + 1) { return; }
    var new_input =
      "<div class='input-group input-group-sm mb-3' id='new_" +
      new_chq_no +
      "''>" +
      "<div class='input-group-prepend'>" +
      "<span class='input-group-text' id='inputGroup-sizing-sm" +
      new_chq_no +
      "'>Class Name #" +
      new_chq_no +
      "</span>" +
      "</div>" +
      "<input type='text' class='form-control' aria-label='Small' aria-describedby='inputGroup-sizing-sm" +
      new_chq_no +
      "' name = 'class' maxlength = '200' required>" +
      "</div>";

    jQuery("#new_chq").append(new_input);

    jQuery("#total_chq").val(new_chq_no);
  }

  function remove() {
    var last_chq_no = jQuery("#total_chq").val();

    if (last_chq_no > 1) {
      jQuery("#new_" + last_chq_no).remove();
      jQuery("#total_chq").val(last_chq_no - 1);
    }
  }
</script>
{% endblock javascripts %}
