<html>
  <head>
    <script>
      var images = [
        {% for url in image_urls %}
          "{{ url | safe }}",
        {% endfor %}
      ];

      var possible_labels = []
      possible_labels = [
        {% for label in possible_labels %}
          "{{ label }}",
        {% endfor %}
      ]

      var type =1;
      {% if project.annotation_type.name == 'BB' %} 
        type =1;

      {% elif project.annotation_type.name == 'BE' %} 
        type =2;
      {% elif project.annotation_type.name == 'KP' %} 
        type =3;
      {% elif project.annotation_type.name == 'BP' %} 
        type =4;
      {% elif project.annotation_type.name == 'FH' %} 
        type =5;
      {% elif project.annotation_type.name == 'LN' %} 
        type =1;  
      {% endif %}

    </script>

    <script src="/static/canvas_assets/js/script2.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.0/dist/annotorious.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.0/dist/annotorious.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-selector-pack@latest/dist/annotorious-selector-pack.min.js"></script>
        <link rel="stylesheet" href="/static/canvas_assets/css/style.css" />
  </head>

  <body>
    <div id="content">
      <div id="toolbar">
        <button class="btnIcon" >
      
          <script>
  
          document.write('<img src="/static/canvas_assets/icons/'+type+'.png"/>');     
          </script>
           </button>

        </button> 
      </div>
      <div id="imageViewer">
        <div class="arrow" id="arrow-prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="30"
            height="30"
            viewBox="0 0 172 172"
            style="fill: #000000"
          >
            <g
              fill="none"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
            >
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <path
                d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                fill="#cccccc"
              ></path>
              <g fill="#666666">
                <path
                  d="M70.101,86l32.61037,-32.61037c3.53329,-3.53329 3.53329,-9.26848 0,-12.80177v0c-3.53329,-3.53329 -9.26848,-3.53329 -12.80177,0l-39.37824,39.37824c-3.33699,3.33699 -3.33699,8.73934 0,12.0678l39.37824,39.37824c3.53329,3.53329 9.26848,3.53329 12.80177,0v0c3.53329,-3.53329 3.53329,-9.26848 0,-12.80177z"
                ></path>
              </g>
            </g>
          </svg>
        </div>
        <img id="activeImg" src="{{ image_urls.0 | safe }}" />
        <div class="arrow" id="arrow-next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="30"
            height="30"
            viewBox="0 0 172 172"
            style="fill: #000000"
          >
            <g
              fill="none"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
            >
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <path
                d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                fill="#cccccc"
              ></path>
              <g fill="#666666">
                <path
                  d="M94.73233,86l-32.61037,-32.61037c-3.53329,-3.53329 -3.53329,-9.26848 0,-12.80177v0c3.53329,-3.53329 9.26848,-3.53329 12.80177,0l39.37824,39.37824c3.33699,3.33699 3.33699,8.73934 0,12.0678l-39.37824,39.37824c-3.53329,3.53329 -9.26848,3.53329 -12.80177,0v0c-3.53329,-3.53329 -3.53329,-9.26848 0,-12.80177z"
                ></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
