{% extends "layouts/base.html" %}

{% block title %} Canvas {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script>

  // CURRENT IMAGE MAPS TO THESE
  var images = [
    {% for url in image_urls %}
      "{{ url | safe }}",
    {% endfor %}
  ];
 
  var image_ids = [
    {% for image in images %}
      "{{ image.id }}",
    {% endfor %}
  ]

  /////
  var possible_labels = [
    {% for label in possible_labels %}
      "{{ label }}",
    {% endfor %}
  ];

  var label_ids = [
    {% for label in annotation_classes %}
      "{{ label.id }}",
    {% endfor %}
  ]
  
  var type = 1;
  {% if project.annotation_type.name == 'BB' %} 
    type =1;
  {% elif project.annotation_type.name == 'BE' %} 
    type =2;
  {% elif project.annotation_type.name == 'KP' %} 
    type =3;
  {% elif project.annotation_type.name == 'BP' %} 
    type =4;
  {% elif project.annotation_type.name == 'FH' %} 
    type =5;
  {% elif project.annotation_type.name == 'LN' %} 
    type =1;  
  {% endif %}

  username = '{{ username }}'


</script>

<script src="/static/canvas_assets/js/scriptOD.js"></script>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.0/dist/annotorious.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.0/dist/annotorious.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-selector-pack@latest/dist/annotorious-selector-pack.min.js"></script>
<link rel="stylesheet" href="/static/canvas_assets/css/styleOD.css" />

{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                          <div class="page-header-title">

                            <p id="homey" class="proj-name">{{project.name}}</p>
                            
                
                            <label  class="switch">     
                              <input id="dark-icon" type="checkbox">    
                              <span class="slider round"> <i id="darki" class="feather icon-moon"></i></span>
                            </label>
                       
                          </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">

                 

                    <!-- [ Main Content ] start -->
                       <!-- Modal -->
                    <div id="myModal" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Please Increase Screen Width</h5>
                          </div>
                          <div class="modal-body">
                            <p>Annotation Canvas Performs better on a Larger Screen.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                          <div id="content">
                            <div id="toolbar">
                              <button class="btnIcon" >
                                <script>
                        
                                document.write('<img  src="/static/canvas_assets/icons/'+type+'.png"/>');     
                                </script>
                                 </button>
                      
                              </button> 
                            </div>

                            
                            <div  id="imageViewer">
                              <div class="arrow" id="arrow-prev">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  x="0px"
                                  y="0px"
                                  width="30"
                                  height="30"
                                  viewBox="0 0 172 172"
                                  style="fill: #000000"
                                >
                                  <g
                                    fill="none"
                                    fill-rule="nonzero"
                                    stroke="none"
                                    stroke-width="1"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-miterlimit="10"
                                    stroke-dasharray=""
                                    stroke-dashoffset="0"
                                    font-family="none"
                                    font-weight="none"
                                    font-size="none"
                                    text-anchor="none"
                                    style="mix-blend-mode: normal"
                                  >
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <path
                                      d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                      fill="#cccccc"
                                    ></path>
                                    <g fill="#666666">
                                      <path
                                        d="M70.101,86l32.61037,-32.61037c3.53329,-3.53329 3.53329,-9.26848 0,-12.80177v0c-3.53329,-3.53329 -9.26848,-3.53329 -12.80177,0l-39.37824,39.37824c-3.33699,3.33699 -3.33699,8.73934 0,12.0678l39.37824,39.37824c3.53329,3.53329 9.26848,3.53329 12.80177,0v0c3.53329,-3.53329 3.53329,-9.26848 0,-12.80177z"
                                      ></path>
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <img id="activeImg" src="{{ image_urls.0 | safe }}" />
                              <div class="arrow" id="arrow-next">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  x="0px"
                                  y="0px"
                                  width="30"
                                  height="30"
                                  viewBox="0 0 172 172"
                                  style="fill: #000000"
                                >
                                  <g
                                    fill="none"
                                    fill-rule="nonzero"
                                    stroke="none"
                                    stroke-width="1"
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-miterlimit="10"
                                    stroke-dasharray=""
                                    stroke-dashoffset="0"
                                    font-family="none"
                                    font-weight="none"
                                    font-size="none"
                                    text-anchor="none"
                                    style="mix-blend-mode: normal"
                                  >
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <path
                                      d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                      fill="#cccccc"
                                    ></path>
                                    <g fill="#666666">
                                      <path
                                        d="M94.73233,86l-32.61037,-32.61037c-3.53329,-3.53329 -3.53329,-9.26848 0,-12.80177v0c3.53329,-3.53329 9.26848,-3.53329 12.80177,0l39.37824,39.37824c3.33699,3.33699 3.33699,8.73934 0,12.0678l-39.37824,39.37824c-3.53329,3.53329 -9.26848,3.53329 -12.80177,0v0c-3.53329,-3.53329 -3.53329,-9.26848 0,-12.80177z"
                                      ></path>
                                    </g>
                                  </g>
                                </svg>
                              </div>
                            </div>
                           <!-------Alert------>

                            <div id="alertBox" style="display: none;" class="row  no-gutters rounded-3 fixed-top">
                              <div class="col-3 ml-auto">
                                <div class="alert  alert-success shadow my-3" role="alert" style="border-radius: 3px">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="True" style="color:#155724">&times;</span>
                                  </button>
                                  <div class="text-center">
                                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="m-1 bi bi-shield-fill-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                    </svg>
                                  </div>
                                  <p style="font-size:18px" class="mb-0 font-weight-light"><b class="mr-1">Success!</b>No more images left.</p>
                                </div>
                              </div>
                            </div>


                            <!-------Alert------>

                          </div> 
                    </div>
                    </div>
                    <!-- [ ROW 1 ] start -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
